
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.card {
  border: 2px solid #c5c7ca;
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  margin: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.3s ease-in-out;
  background: #F3F4F6;
  font-family: "Arial", sans-serif;
  border-color: #c5c7ca;
}

.card:hover {
  transform: scale(1.05);
  background-color: #e6f3ff; /* Light blue for a professional look */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
  border-color: #a9a9a9; /* Slightly darker border color on hover */
}

.card:focus-within {
  outline: 2px dashed #d4a373;
  outline-offset: 5px;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.card:hover .card-image {
  transform: scale(1.1);
  filter: brightness(80%); /* Slightly darken the image */
}

/* Adding an overlay effect on hover */
.card-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Prevent overlay from blocking interaction */
}

.card:hover .card-image::after {
  opacity: 1;
}

.card-content {
  padding: 20px;
  font-family: "Arial", sans-serif;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 0.3s;
}

.card-title {
  margin: 0;
  font-size: 1.5em;
  color: black;
  transition: color 0.2s;
  background-color: transparent;
  font-weight: bold;
}

.card:hover .card-title {
  color: #2c3e50; /* Darker color for the title on hover */
  background-color: transparent;
}

.card-description {
  margin-top: 10px;
  color: rgb(85, 85, 85);
  font-family: "Arial", sans-serif;
  line-height: 1.5;
}

.card:hover .card-content {
  transform: translateY(0);
  opacity: 1;
}

/* Animation Keyframes */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
}

/* Apply the animations */
.card {
  animation: float 4s ease-in-out infinite, shadow 4s ease-in-out infinite;
}




.steps-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; /* Less gap between cards */
}

.step {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px 15px; /* Smaller margin */
  padding: 20px;
  flex: 1 1 280px; /* Slightly smaller width to fit more cards in a row */
  max-width: 280px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  height: 200px;
}

.step:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.step h4 {
  font-size: 1.5em;
  color: #007bff;
  margin-bottom: 15px;
  position: relative;
  animation: slideIn 1s;
}

.step p {
  color: #666;
  animation: fadeIn 2s;
}

/* Animation Keyframes */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .step {
    flex: 1 1 45%;
  }
}

@media (max-width: 768px) {
  .methodology-heading {
    font-size: 2em;
  }
  
  .step {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .methodology-heading {
    font-size: 1.8em;
  }

  .step {
    margin: 10px;
    padding: 15px;
  }
}

/* Methodology */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

#methodology {
  background-color: #f0f0f0;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
  height: auto;
}

.methodology-heading {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
  animation: fadeIn 1.5s;
}

.steps-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Control the gap between cards */
  justify-content: center;
}

.step {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  flex: 1 1 300px;
  max-width: 300px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  height: 175px;
  position: relative; /* Ensure absolute positioning works */
  overflow: hidden; /* Clip any overflowing elements */
}

.step::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #0077b6, #59828f);
  transition: opacity 0.3s ease-in-out;
}

.step:hover::before {
  opacity: 1; /* Highlight on hover */
}

.step:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.step h4 {
  font-size: 1.5em;
  color: #007bff;
  margin-bottom: 15px;
  position: relative;
  animation: slideIn 1s;
}

.step p {
  color: #666;
  animation: fadeIn 2s;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .step {
    flex: 1 1 45%;
  }
}

@media (max-width: 768px) {
  .methodology-heading {
    font-size: 2em;
  }
  
  .step {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .methodology-heading {
    font-size: 1.8em;
  }

  .step {
    margin: 10px;
    padding: 15px;
  }
}

/* TOOLS AND TECHNOLOGY */

#tools-and-technologies {
  background-color: #ffffff;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial, sans-serif";
  overflow: hidden;
}

.tools-heading {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
  margin: 20px 0;
  padding: 5px 5px;
  width: 100%;
  background: linear-gradient(to right, #0077b6, #59828f);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.tools-heading:hover {
  color: #d1e1f1;
  background-color: #005f73;
  transform: scale(1.03);
}

.tools-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool-item {
  margin: 20px 0;
  text-align: center;
  padding: 15px;
  background-color: #f9fafb;
  border-radius: 8px;
  transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 0.5s ease, background-color 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards, floatEffect 2s infinite ease-in-out;
  animation-delay: calc(var(--delay) * 0.2s);
}

.tool-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px) scale(1.02);
  background-color: #f1f1f1;
}

.tool-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  animation: rotateEffect 10s linear infinite;
}

.tool-item h4 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #0077b6;
  animation: fadeInText 1s ease forwards;
}

.tool-item p {
  font-size: 1rem;
  color: #333;
  animation: fadeInText 1s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes floatEffect {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes rotateEffect {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
































section{
  border: none;
  background: transparent;
  margin:0px;
}



/* Professional Main Heading with Bolder Gradient Background */
.Head1 {
  text-align: center;
  margin-top: 20px;
  font-family: "Arial, sans-serif"; /* Elegant sans-serif font */
  color: #ffffff; /* White color for text */
  background: linear-gradient(to right, #EF4136, #FBB040); /* Bolder gradient background */
  padding: 20px 40px; /* Spacious padding */
  border-radius: 8px; /* Softer rounded corners */
  display: block; /* Full width and new line */
  box-shadow: none; /* No shadow for a cleaner look */
  
  font-size: 3rem;
}

.Head1:hover {
  color: #d1e1f1; /* Slightly lighter color on hover */
  transform: translateY(-3px); /* Slight lift on hover */
}

.Head1::before, .Head1::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff; /* Accent line color */
  left: 50%;
  border-radius: 8px;
}

.Head1::before {
  top: 0;
}

.Head1::after {
  bottom: 0;
}

.Head1:hover::before, .Head1:hover::after {
  width: 100%; /* Full width underline on hover */
  left: 0;
}







  
  .Head2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
    font-family: "Arial sans-serif";
    color: #4B5563; /* Dark blue for contrast */
    
    padding-bottom: 5px; /* Space below text */
    display: flex;
    flex-direction: column; /* Ensure it takes full width and appears on a new line */
    transition: color 0.3s ease, border-bottom-color 0.3s ease; /* Smooth transition */
  }
  
  .Head2:hover {
    color: #4B5563; /* Slightly brighter blue on hover */
    border-bottom-color: #4b5563; /* Change underline color on hover */
  }

  .head1, .head2,.methodology-heading, p {
    font-family: "Arial", sans-serif;
  }
  
 
  
  
  

