
.cards-container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background: transparent;
    font-family:"Arial sans-serif";
  }
  
  .services-page{
    background-color:#daf3f9;
    margin:0%;
    padding: 2%; font-family: "Arial", sans-serif; }
    
  
    
  
  
  