

.cards-container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background: transparent;
    font-family:"Arial sans-serif";
  }
  
  .services-page{
    background-color:#ffffff;
    
    padding: 2%; font-family: "Arial", sans-serif; }

    
    

    
  
    
  
  
  